/*@import url('https://fonts.googleapis.com/css?family=Tajawal');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');*/

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,500');

body {
  margin: 0;
  padding: 0;
  /*font-family: 'Tajawal', sans-serif;*/
  font-family: 'Poppins', sans-serif;
  background: #f2f2f2;
}

h1, h2, h3, h4, h5, h6 {
  /*font-family: 'IBM Plex Serif', serif;*/
  font-family: 'Abril Fatface', cursive;
}

.full {
  width: 100%;
  float: left;
}

.margTop {
  margin-top: 35px;
}

.bookTitle {
  font-size: 1.5em;
  /*text-transform: uppercase;*/
}

.featuredArchiveImage {
  height: 300px;
  width: auto;
  max-width: 100%;
  /*margin: 0 auto;*/
  display: block;
}

.anArchive {
    background: #fff;
    min-height: 500px;
    padding: 14px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 2px #e6e6e6;
    transition: .2s all;
}

.anArchive p {
  float: left;
  width: 100%;
}

.anArchive a:hover p {
   text-decoration: none !important;
 }

.anArchive:hover {
  cursor: pointer;
  background: #f3f3f3;
}

.anArchive h1, .anArchive p {
  color: #333;
}

.anArchive:hover h1 {
  color: #6f3079;
}

.author {
  text-transform: capitalize;
}

.archiveBookBg {
  background: red;
  padding: 40px 0;
  margin-bottom: 30px;
  background: url(./images/bookbg.jpg) center;
  background-size: cover;
}
.archiveBookBg h1{
  margin: 0;
  color: #fff;
}

.archiveBookBg .backToBooks {
  color: rgba(255,255,255,.7);
  text-align: center;
  margin-top: 12px;
  display: block;
}

.singleBookInfo {
  background: #fff;
  min-height: 480px;
  padding: 14px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 2px #e6e6e6;
  transition: .2s all;
  float: left;
  width: 100%;
}

.singleBookInfo h1 {
  margin-top: 0;
}

.sideBarBooks {
  list-style-type: none;
  padding: 0;
}
.sideBarBooks li a {
  color: #6f3079;
  margin-bottom: 8px;
  display: block;
  float: left;
  width: 100%;
}

.sideBarBooks li a:hover {
  color: #000;
}

.sidebarH3 {
  margin: 0 0 18px 0;
}

.back {
    color: #6f3079;
    margin-bottom: 10px;
    display: block;
}
.inputSearch {
    width: 100%;
    margin-bottom: 30px;
    padding: 11px 17px;
    border-radius: 1px;
    box-shadow: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgba(255,255,255.0);
}

input.inputSearch:focus {
    outline: none;
    border-color: #333;
}

.boldedHeading {
  font-weight: 500;
}

.boldedHeading span {
  font-weight: 300;
}

.subject {
  font-weight: 300;
  display: inline;
  margin-right: 6px;
  color: #6f3079;
}
.subject:hover {
  color: #000;
}
