@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,500');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: #f2f2f2;
  max-width: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Abril Fatface', cursive;
}

.full {
  width: 100%;
  float: left;
}

.margTop {
  margin-top: 35px;
}

.bookTitle {
  font-size: 1.5em;
  /*text-transform: uppercase;*/
}

.featuredArchiveImage {
  height: 270px;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.anArchive {
  background: #fff;
  min-height: 500px;
  padding: 14px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 2px #e6e6e6;
  transition: .2s all;
  position: relative;
}

.anArchive p {
  float: left;
  width: 100%;
}

.anArchive a:hover p {
   text-decoration: none !important;
 }

.anArchive:hover {
  cursor: pointer;
  background: #f3f3f3;
}

.anArchive h1, .anArchive p {
  color: #333;
}

.anArchive:hover h1 {
  color: #6f3079;
}

.content {
  font-size: 1.2em;
}

.author {
  text-transform: capitalize;
  margin-bottom: 9px;
  font-size: .9em;
  color: #333;
  font-weight: 300;
}

.archiveBookBg {
  background: red;
  padding: 40px 0;
  margin-bottom: 30px;
  background: url(./images/bookbg.jpg) center;
  background-size: cover;
}
.archiveBookBg h1{
  margin: 0;
  color: #fff;
}

.archiveBookBg .backToBooks {
  color: rgba(255,255,255,.7);
  text-align: center;
  margin-top: 12px;
  display: block;
}

.singleBookInfo {
  background: #fff;
  min-height: 480px;
  padding: 14px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 2px #e6e6e6;
  transition: .2s all;
  float: left;
  width: 100%;
}

.singleBookInfo h1 {
  margin-top: 0;
  margin-bottom: 9px;
  font-size: 3.5em;
}

.sideBarBooks {
  list-style-type: none;
  padding: 0;
}
.sideBarBooks a {
  color: #6f3079;
  margin-bottom: 8px;
  display: block;
  float: left;
  width: 100%;
}

.fullCover {
  width: 70%;
  float: left;
}

.sideBarBooks li a:hover {
  color: #000;
}

.sidebarH3 {
  margin: 0 0 18px 0;
}

.back {
  color: #6f3079;
  margin-bottom: 10px;
  display: block;
}
.inputSearch {
  width: 100%;
  margin-bottom: 30px;
  padding: 11px 17px;
  border-radius: 1px;
  box-shadow: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgba(255,255,255.0);
}

input.inputSearch:focus {
  outline: none;
  border-color: #333;
}

.boldedHeading {
  font-weight: 500;
}

.boldedHeading span {
  font-weight: 300;
}

.subject {
  font-weight: 300;
  display: inline;
  margin-right: 6px;
  color: #6f3079;
}
.subject:hover {
  color: #000;
}

a.headerBack {
    text-align: center;
    display: block;
    margin-top: 20px;
    color: rgba(255,255,255,.8);
}

.loadingPage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width:100%;
  height:100%;
  margin:auto;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
}

.loadingPage p {
  font-size: 3em;
  text-align: center;
  position: relative;
  top: 40%;
}

.inventory {
  font-style: italic;
  color: #adadad;
  font-weight: 300;
  margin-bottom: 25px;
  font-size: .9em;
}

.likeRow {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.addBtn {
  border: none;
  background: none;
}

.addBtn:focus, .addBtn:active, .addBtn:visited {
  outline: none !important;
}

.tooltip-inner {
  background-color: #6f3079;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #6f3079;
}

.tooltip-inner {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.modal-body h1 {
  text-align: center;
}

.modal-body p {
  text-align: center;
}

@media (max-width: 768px) {
  .featuredArchiveImage {
    height: 270px;
    width: auto;
  }
  .fullCover {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .singlePostBox {
    width: 100%;
  }
  .singlePostBox .featuredArchiveImage {
    width: 100%;
    height: auto;
  }
  .anArchive {
    min-height: 470px;
  }
}
